{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block styles -%}
{{super()}}
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 50%;
      width: 100%;
    }
    #floating-panel {
      <!-- position: absolute; -->
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }
    #floating-panel {
      background-color: #fff;
      border: 1px solid #999;
      left: 25%;
      padding: 5px;
      <!-- position: absolute; -->
      top: 10px;
      z-index: 5;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
{%- endblock %}

{% block content %}
<script>
  var threat = 5;
  var low = "0%";
  var moderate = "60%";
  var danger = "40%";

function setLevels() {


  lowBar = document.getElementById('lowThreat');
  moderateBar = document.getElementById('moderateThreat');
  highBar = document.getElementById('highThreat');
  lowBar.setAttribute("style", "width:100%");
  moderateBar.setAttribute("style", "width:0%");
  highBar.setAttribute("style", "width:0%");
  lowBar.setAttribute("class", "progress-bar progress-bar-striped active");
  lowBar.innerHTML = "Loading Score";
  // Just using a simple timeout to test the progress bar settings.
  runScore();
  setTimeout(updateBar, 3000);

}

function updateBar(){
  lowBar = document.getElementById('lowThreat');
  moderateBar = document.getElementById('moderateThreat');
  highBar = document.getElementById('highThreat');
  lowBar.setAttribute("class", "progress-bar progress-bar-success");
  lowBar.innerHTML = "Low Danger";

  switch (threat) {
    case 0:
        low = "100%";
        moderate = "0%";
        danger = "0%";
        break;
    case 1:
        low = "80%";
        moderate = "20%";
        danger = "0%";
        break;
    case 2:
        low = "40%";
        moderate = "60%";
        danger = "0%";
        break;
    case 3:
        low = "20%";
        moderate = "60%";
        danger = "20%";
        break;
    case 4:
        low = "0%";
        moderate = "20%";
        danger = "80%";
        break;
    case 5:
        low = "0%";
        moderate = "0%";
        danger = "100%";
        break;
    default:
        low = "40%";
        moderate = "30%";
        danger = "30%";
}

lowBar.setAttribute("style", "width:" + low);
moderateBar.setAttribute("style", "width:" + moderate);
highBar.setAttribute("style", "width:" + danger);

}

function runScore() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var runResponse = JSON.parse(this.responseText);
        console.log(runResponse);
        threat = runResponse['number'];
	      document.getElementById("highThreat").innerHTML = this.responseText;
}
  };
  xhttp.open("GET", "/run/" + locationInfo.state, true);
  xhttp.send();
}
</script>

  <script>
  $(document).ready(function(){
      $("#getLocalEvents").click(function(){
        var state = "MD";
        if (locationInfo.state.length === 2){sate = locationInfo.state; console.log("Set state OK");};
          $.getJSON("https://api.weather.gov/alerts/active/area/" + state, function(result){
              var features = result['features'];
              if (features.length == 0){
                var element = document.createElement("div");
                var node = document.createElement("p");
                node.innerHTML = ("No Current Active alerts for your location")
                element.appendChild(node);
                $("#localAlerts").append(element);
              }
              else{
              $.each(features, function(i, item){
                  var element = document.createElement("div");
                  element.setAttribute('class', 'blog-post');
                  var node1 = document.createElement("div")
                  node1.innerHTML = ('<h2 class="blog-post-title">' + item['properties'].headline + "</h2>");
                  element.appendChild(node1);
                  var metaNode = document.createElement("p");
                  metaNode.setAttribute('class', 'blog-post-meta');
                  metaNode.innerHTML = ("<a href=" + item.id + ">" + item.id + "</a>");
                  element.appendChild(metaNode);
                  var node2 = document.createElement("p");
                  node2.innerHTML = (item['properties'].status);
                  element.appendChild(node2);
                  var node3 = document.createElement("p");
                  node3.innerHTML = (item['properties'].expires);
                  element.appendChild(node3);
                  var node4 = document.createElement("p");
                  node4.innerHTML = ("<h3>" + item['properties'].severity + "</h3>");
                  element.appendChild(node4);
                  var node5 = document.createElement("p");
                  node5.innerHTML = (item['properties'].description)
                  element.appendChild(node5);
                  $("#localAlerts").append(element);
              });
            }
          });
      });
  });
  </script>

<div class="container">
  <!-- <h2>Weather Threat Level</h2> -->
  <!-- <p>Weather Threat Level</p> -->
  <div class="progress">
    <div class="progress-bar progress-bar-success" id="lowThreat" role="progressbar" style="width:40%">
      Low Danger
    </div>
    <div class="progress-bar progress-bar-warning" id="moderateThreat" role="progressbar" style="width:20%">
      Moderate Danger
    </div>
    <div class="progress-bar progress-bar-danger" id="highThreat" role="progressbar" style="width:20%">
      Danger
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-block" onclick="setLevels()">Click to Get Safety Score</button>
</div>



<div id="map"></div>
  <div class="panel panel-default">
        <div class="panel-heading">Current User Location</div>
        <div class="panel-body"></div>
        <div id="floating-panel">
            <button class="btn btn-info btn-xs" onclick="toggleHeatmap()">Show Heatmap</button>
            <button class="btn btn-info btn-xs" onclick="changeGradient()">Gradient</button>
            <button class="btn btn-info btn-xs" onclick="changeRadius()">Radius</button>
            <button class="btn btn-info btn-xs" onclick="changeOpacity()">Opacity</button>
          </div>
  </div>

<div>  <h3 class="text-center">Active alerts</h3>
  <div class="container">
    <button type="button" class="btn btn-primary btn-block" id="getLocalEvents">Weather Events</button>

    <div class="blog-post" id="localAlerts">
      </div><!-- /.blog-post -->


    </div><!-- /.blog-post -->


    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
    </nav>

  </div>

 </div>


      </div>

<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.
  var map, infoWindow, heatmap;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 12
  //    mapTypeId: 'satellite'
    });
    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        revGeo(pos['lat'], pos['lng']);

        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        infoWindow.open(map);
        map.setCenter(pos);
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(pos['lat'], pos['lng']),
          map: map
        });

      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

  function toggleHeatmap() {
    heatmap.setMap(heatmap.getMap() ? null : map);
  }

  function changeGradient() {
    var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
    ]
    heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
  }

  function changeRadius() {
    heatmap.set('radius', heatmap.get('radius') ? null : 20);
  }

  function changeOpacity() {
    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
  }

  // Heatmap data: Points
  function getPoints(lat, lng) {
    return [
      new google.maps.LatLng((lat +  0.0002), (lng + 0.0002)),
      new google.maps.LatLng((lat +  0.0004), (lng + 0.0004)),
      new google.maps.LatLng((lat +  0.0006), (lng + 0.0006)),
      new google.maps.LatLng((lat +  0.0008), (lng + 0.0008)),
      new google.maps.LatLng((lat +  0.001), (lng + 0.001)),
      new google.maps.LatLng((lat +  0.0012), (lng + 0.0012))
    ];
  }
//This holds the  decoded location information the user is in for getting event data from NOAA
var locationInfo = {
  lat: 0,
  lng: 0,
  state: "",
  country: "",
  city: ""
};

  function revGeo(lat, lng) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
	    var geoResponse = JSON.parse(this.responseText);
            getCityState(geoResponse.results);
            console.log(locationInfo);
            state = locationInfo.state;
            document.getElementById("getLocalEvents").innerHTML =
            "Click for Events in: " + locationInfo.state;
       }
    };
    locationInfo.lat = lat;
    locationInfo.lng = lng;
    xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + locationInfo.lat + "," + locationInfo.lng + "&key={{google_api_key}}", true);
    xhttp.send();
}

function getCityState(resp){
	    for (var ac = 0; ac < resp[0].address_components.length; ac++) {
                                    var component = resp[0].address_components[ac];
                                    switch(component.types[0]) {
                                        case 'locality':
					                                  console.log(component.long_name);
                                            locationInfo.city = component.long_name;
                                            break;
                                        case 'administrative_area_level_1':
                                            console.log(component.short_name);
                                            locationInfo.state = component.short_name;
                                            break;
                                        case 'country':
                                            console.log(component.long_name);
                                            locationInfo.country = component.long_name;
                                            //iso_code = component.short_name;
                                            break;
                                    }
        };
};

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&libraries=visualization&callback=initMap">
</script>



{%- endblock %}


{%- block footer %}
{{super()}}
<footer>
  &copy; 2016 Awesome, Inc.
  <p>GILDI <a href="https://github.com/adunn2/Project_GILDI">Project_GILDI</a> by <a href="https://github.com/adunn2">@adunn2</a>.</p>
  <p>
    <a href="/">Back to top</a>
  </p>
</footer>
{%- endblock %}
